@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300&display=swap');

.page{
    overflow-x:hidden;
}
.home-page{
    scroll-behavior: "smooth" ;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}
.home-page-arrow{
    scroll-behavior: "smooth" ;
    display: flex;
    justify-content: center;
}